IndentWidth: 4
TabWidth: 4
UseTab: ForIndentation

NamespaceIndentation: All
AccessModifierOffset: 0

ColumnLimit: 0

BreakBeforeBraces: Allman
# BreakBeforeBinaryOperators: All
BreakBeforeTernaryOperators: false

AlignTrailingComments: true
AlignOperands: true

SpaceInEmptyParentheses: false
SpacesInCStyleCastParentheses: false
SpaceAfterCStyleCast: false
SpacesInContainerLiterals: false
SpacesInParentheses: true
SpacesInSquareBrackets: false
SpaceBeforeParens: ControlStatements

AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true

ConstructorInitializerAllOnOneLineOrOnePerLine: true

BinPackArguments: false

# DerivePointerAlignment: true
# PointerAlignment: PAS_LEFT
