[submodule "Assets/Scripts/BehaviorTree"]
	path = Assets/Scripts/BehaviorTree
	url = https://github.com/Capstrong/behaviorTree
[submodule "Assets/GitMerge"]
	path = Assets/GitMerge
	url = https://github.com/Capstrong/GitMerge-for-Unity.git
